/* color palette
PRIMARY
#19647E - dark blue (links and buttons)
#28AFB0 - light blue (secondary links and buttons)

ACCENT 
#F4D35E - yellow
#EE964B - orange

NEUTRAL 
#1F271B - dark green (text and dark background)
#f8faf7 - white (text and light background)
*/

body {
  overflow-x: hidden;
  background-color: #f8faf7;
  font-family: "Almarai", sans-serif;
  font-weight: 400;
  color: #1f271b; /* Secondary color */
}

/* Font styles for headings */
h1,
h2 {
  font-family: "Bona Nova", serif;
  color: #1f271b; /* Primary color */
}

/* Font styles for body and buttons */
h4 {
  font-family: "Almarai", sans-serif;
  color: #19647e; /* Secondary color */
}

/* buttons */
button {
  font-family: "Bona Nova", serif !important;
  font-weight: 700 !important;
}

.dashboard-buttons a {
  font-family: "Bona Nova", serif;
  font-weight: 700;
}

.btn-info {
  border-color: #19647e;
  background-color: #19647e;
  color: #f8faf7;
}

.btn-info:hover {
  border-color: #12485a;
  background-color: #12485a;
  color: #f8faf7;
}

.btn-outline-info {
  border-color: #19647e;
  background-color: #19647e;
  color: #f8faf7;
}

.btn-outline-info:hover {
  border-color: #12485a;
  background-color: #12485a;
  color: #f8faf7;
}

.btn-secondary {
  background-color: #28afb0;
  border-color: #28afb0;
}

.btn-outline-secondary {
  color: #1f271b;
  border-color: #28afb0;
  background-color: #28afb0;
}

.btn-outline-secondary:hover {
  color: #1f271b;
  border-color: #219191;
  background-color: #219191;
}

.btn-outline-danger {
  color: #1f271b;
  border-color: #ee964b;
  background-color: #ee964b;
}

.btn-outline-danger:hover {
  color: #1f271b;
  background-color: #d08543;
  border-color: #d08543;
}

/* border color for create and edit forms */

.custom-border-color {
  border-color: #1f271b !important;
}

/* Custom badge styles for specific colors */
.badge-booked {
  background-color: #19647e;
  color: #ffffff;
}

.badge-seated {
  background-color: #f4d35e;
  color: #1f271b;
}

.badge-finished {
  background-color: #ee964b;
  color: #1f271b;
}

.badge-cancelled {
  background-color: #ee964b;
}

nav {
  background-color: #1f271b;
  color: #ffffff;
}

.navbar-brand {
  font-family: "Bona Nova", serif;
  font-weight: 700;
  color: #ffffff;
  transition: color 0.3s ease;
}

.navbar-brand:hover {
  color: #bccbb4;
}

nav .nav-link {
  font-family: "Almarai", sans-serif;
  font-weight: 400;
  color: #ffffff;
  transition: color 0.3s ease;
}

nav .nav-link:hover,
nav .nav-link:focus {
  color: #bccbb4;
}

/* Dashboard card */
.dotted-border {
  border: 1px dashed #5b724f;
}

.new-res-card {
  color: #5b724f;
}

.add-new-btn {
  color: #5b724f;
}

.add-new-btn:hover,
.add-new-btn:focus {
  color: #506446;
}
