.dashboard {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}

.reservationTable {
    background-color: aliceblue;
    border-radius: 2%;
}

h1 {
    font-family: 'Limelight', cursive;
    height: fit-content;

}
button {
    border-radius: 5px;
    margin: 5px;
}

th,td {
    padding: 5px;
    text-align: center;
}

.tablesTable {
    display: flex;
    flex-direction: column;
    justify-content: right;
    background-color: aliceblue;
    height: fit-content;
    margin: 15px;
}
