main {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.buttons-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.btn-el {
    background-color: rgb(0, 140, 255);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    margin: 0px 10px 10px 0px;
    transition: 300ms;
}

.btn-el:hover {
    border: 1px solid black;
    color: black;
}

.reservations-container {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 50px 0px;
    align-items: center;
    border: 2px solid black;
    border-radius: 4px;
    padding: 10px;
    height: 500px;
    overflow: hidden;
    overflow-y: auto;
}

.tables-container {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 50px 0px;
    align-items: center;
    border: 2px solid black;
    border-radius: 4px;
    padding: 10px;
    height: 500px;
    overflow: hidden;
    overflow-y: auto;
}
