main {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.reservations-container {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 50px 0px;
    align-items: center;
    border: 2px solid black;
    border-radius: 4px;
    padding: 10px;
    height: 500px;
    overflow: hidden;
    overflow-y: auto;
}

.tables-container {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 50px 0px;
    align-items: center;
    border: 2px solid black;
    border-radius: 4px;
    padding: 10px;
    height: 500px;
    overflow: hidden;
    overflow-y: auto;
}
