.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 300px;
}

.reservations, .tablesTable {
    background-color: aliceblue;
    border-radius: 2%;
    text-align: center;
}

h1 {
    font-family: 'Limelight', cursive;
    height: fit-content;

}
.dateButtons > button {
    margin: 5px;
} 

/* th,td {
    padding: 5px;
    text-align: center;
} */



.tablesTable {
    width: fit-content;
    height: fit-content;
    margin: 15px;
    padding: 5px;
}
