.search-container {
    display: flex;
    margin: 20px;
    justify-content: center;
}

.search-input {
    margin-right: 25px;
    border-radius: 5px;
}

.search-button {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    background-color: rgb(0, 140, 255);
    color: white;
    transition: 300ms;
}

.search-button:hover {
    border: 1px solid black;
    color: black;
}