table, table.table {
    /* margin-top: 1%; */
    margin-bottom: 2%;
    background-color: #D3FFFF;
    color: #003438;
    height: 75%;
}



thead, tbody, td, th {
     border: 1px solid #079094 !important;
}


th, td {
    text-align: center;
}

.btn-seat {
    color: #ffffff;
    background-color: #079094;
    border: none;
}

.btn-edit {
    background-color: #F2A94A;
    border: none;
}

