@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Poppins:wght@100&family=Quicksand:wght@300;600&display=swap');

/* body {
    font-family: 'Limelight', cursive;
    color: #735443;
} */

html, body {
    height: 100%;
    width: 100%;
}