.margin-right-5 {
    margin-right: 5px;
}

.reservation-card {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.new-reservation-container {
    margin-top: 20px;
    padding: 5px;
}

.reservation-form-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.reservation-form-input {
    margin: 10px 30px 10px 20px;
}

.reservation-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.reservation-row-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reservation-row-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.reservation-data {
    margin: 10px;
}

.reservation-status {
    display: flex;
    margin: 10px;
}
.reservation-status-booked {
    margin-left: 10px;
    color:green;
}
.reservation-status-done {
    margin-left: 10px;
    color:red;
}
.res-id {
    font-size: 14px;
}

.reservation-button {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    background-color: rgb(0, 140, 255);
    color: white;
    transition: 300ms;
}

.reservation-button:hover {
    border: 1px solid black;
    color: black;
}

.reservation-button-cancel {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    background-color: rgb(255, 56, 56);
    color: white;
    font-weight: 500;
    transition: 300ms;
}

.reservation-button-cancel:hover {
    border: 1px solid black;
    color: black;
}